
.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
/*End of AuthForm CSS*/
.h1{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #050404;
}

.popular-movies {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(8, 8, 8);
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.movie-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.movie-item img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
